<div id="order">
    <!--<div class="handle"></div>-->
    <div class="order-box">
        <div class="order_hd">
            <ul class="clear_fix">
                <li class="active"><a href="#current_entrust" data-toggle="tab">{{{__ "当前委托"}}}</a></li>
                <li><a href="#history_entrust" data-toggle="tab">{{{__ "历史委托"}}}</a></li>
                <li><a href="#history_deal" data-toggle="tab">{{{__ "历史成交"}}}</a></li>
                <li class="pull-right"><a class="revoke-all" onclick="_T.revokeAll()">{{{__ "撤销ALL"}}}</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div id="current_entrust" class="tab-pane order_col active">
                <div class="record-head clear_fix">
                    <div style="width: 19%">{{{__ "时间"}}}</div>
                    <div style="width: 13.5%">{{{__ "类型"}}}</div>
                    <!--<div>{{{__ "来源"}}}</div>-->
                    <div style="width: 13.5%">{{{__ "委托价格"}}}</div>
                    <div style="width: 13.5%">{{{__ "委托数"}}}</div>
                    <div style="width: 13.5%">{{{__ "剩余数量"}}}</div>
                    <div style="width: 13.5%">{{{__ "状态"}}}</div>
                    <div style="width: 13.5%">{{{__ "操作"}}}</div>
                </div>
                <div class="record-body clear_fix">
                    <div class="none-record cNo">{{{__ "暂无委托"}}}</div>
                    <div class="record-tbody cRecord scroller" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                        <div class="record-tbody-tr clear_fix" v-for="data in currentList">
                            <div v-text="data.entrustTime|dateTime" style="width: 19%;padding-left: 10px"></div>
                            <div v-text="data.command|i18n" style="width: 13.5%"></div>
                            <!--<div ng-bind="data.source | translate"></div>-->
                            <div style="width: 13.5%">
                                <span v-if="data.entrustType=='MARKET'">{{{__ '市价'}}}</span>
                                <span v-if="data.entrustType!='MARKET'" v-text="data.price|msf config.currency"></span>
                            </div>
                            <div style="width: 13.5%">
                                <span v-if="data.entrustType == 'MARKET'&& data.command=='S'" v-text="data.volume|msf 'BTC'"></span>
                                <span v-if="data.entrustType == 'LIMIT'" v-text="data.volume |msf 'BTC'"></span>
                                <span v-if="data.entrustType == 'MARKET'&& data.command=='B'" v-text="data.amount|msf config.currency"></span>
                            </div>
                            <div style="width: 13.5%">
                                <span v-if="data.entrustType == 'MARKET'&& data.command=='S'" v-text="data.volume|calc data.dealVolume '-'|msf 'BTC'"></span>
                                <span v-if="data.entrustType == 'LIMIT'" v-text="data.volume|calc data.dealVolume '-'|msf 'BTC'"></span>
                                <span v-if="data.entrustType == 'MARKET'&& data.command=='B'" v-text="data.amount|calc data.dealAmount '-'|msf config.currency"></span>
                            </div>
                            <div v-text="data.status|i18n" style="width: 13.5%"></div>
                            <div style="width: 13.5%">
                                <a v-if="data.source != 'SYSTEM'" class="delete" onclick="_T.revoke('${data.id}')">{{{__ "撤单"}}}</a>
                            </div>
                        </div>
                        <div class="record-tbody-tr clear_fix text-center load-more cLoad" onclick="_T.ce.refresh()">{{{__ "加载更多"}}}</div>
                    </div>
                </div>
            </div>
            <div id="history_entrust" class="tab-pane order_col">
                <div class="record-head clear_fix">
                    <div style="width: 16%">{{{__ "委托时间"}}}</div>
                    <div style="width: 9.5%">{{{__ "类型"}}}</div>
                    <!--<div>{{{__ "来源"}}}</div>-->
                    <div style="width: 9.5%">{{{__ "委托价格"}}}</div>
                    <div style="width: 9.5%">{{{__ "委托数"}}}</div>
                    <div style="width: 18%">{{{__ "平均成交价"}}}</div>
                    <div style="width: 14%">{{{__ "成交量"}}}</div>
                    <div style="width: 14%">{{{__ "成交额"}}}</div>
                    <div style="width: 9.5%">{{{__ "状态"}}}</div>
                </div>
                <div class="record-body clear_fix">
                    <div class="none-record hNo">{{{__ "暂无委托"}}}</div>
                    <div class="record-tbody hRecord scroller" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                        <div class="record-tbody-tr clear_fix" v-for="data in historyList">
                            <div v-text="data.entrustTime|dateTime" style="width: 16%;padding-left: 10px"></div>
                            <div v-text="data.command|i18n" style="width: 9.5%"></div>
                            <!--<div ng-bind="data.source | translate"></div>-->
                            <div style="width: 9.5%">
                                <span v-if="data.entrustType== 'MARKET'">{{{__ '市价'}}}</span>
                                <span v-if="data.entrustType!= 'MARKET'" v-text="data.price|msf config.currency"></span>
                            </div>
                            <div style="width: 9.5%">
                                <span v-if="data.entrustType == 'MARKET'&& data.command=='S'" v-text="data.volume|msf 'BTC'"></span>
                                <span v-if="data.entrustType == 'LIMIT'" v-text="data.volume|msf 'BTC'"></span>
                                <span v-if="data.entrustType == 'MARKET'&& data.command=='B'" v-text="data.amount|msf config.currency"></span>
                            </div>
                            <div v-text="data.dealPrice|msf config.currency" style="width: 18%"></div>
                            <div v-text="data.dealVolume|msf 'BTC'" style="width: 14%"></div>
                            <div v-text="data.dealAmount|msf config.currency" style="width: 14%"></div>
                            <div v-text="data.status|i18n" style="width: 9.5%"></div>
                        </div>
                        <div class="record-tbody-tr clear_fix text-center load-more hLoad" onclick="_T.he.refresh()">{{{__ "加载更多"}}}</div>
                    </div>
                </div>
            </div>
            <div id="history_deal" class="tab-pane order_col">
                <div class="record-head clear_fix">
                    <div style="width: 20%">{{{__ "时间"}}}</div>
                    <div style="width: 16%">{{{__ "类型"}}}</div>
                    <div style="width: 16%">{{{__ "单价"}}}</div>
                    <div style="width: 16%">{{{__ "数量"}}}</div>
                    <div style="width: 16%">{{{__ "金额"}}}</div>
                    <div style="width: 16%">{{{__ "手续费"}}}</div>
                    <!--<div style="width: 10.3%">{{{__ "其他费用"}}}</div>-->
                </div>
                <div class="record-body clear_fix">
                    <div class="none-record tNo">{{{__ "暂无成交"}}}</div>
                    <div class="record-tbody tRecord scroller" data-always-visible="1" data-rail-visible1="0" data-handle-color="#333">
                        <div class="record-tbody-tr clear_fix" v-for="data in tradeList">
                            <div v-text="data.time|dateTime" style="width: 20%;padding-left: 10px"></div>
                            <div v-text="data.command|i18n" style="width: 16%"></div>
                            <div v-text="data.price|msf config.currency" style="width: 16%"></div>
                            <div v-text="data.volume|msf 'BTC'" style="width: 16%"></div>
                            <div v-text="data.amount|msf config.currency" style="width: 16%"></div>
                            <div style="width: 16%">
                                <span v-if="data.command=='S'" v-text="data.tradingFee|msf 'BTC'"></span>
                                <span v-if="data.command!='S'" v-text="data.tradingFee|msf config.currency"></span>
                            </div>
                            <!--<div style="width: 10.3%"><span v-if="data.command=='S'" v-text="data.otherFee|msf 'BTC'"></span><span v-if="data.command!='S'" v-text="data.otherFee|msf config.currency"></span></div>-->
                        </div>
                        <div class="record-tbody-tr clear_fix text-center load-more tLoad" onclick="_T.ht.refresh()">{{{__ "加载更多"}}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>